<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAEVr0nLVUn23sfJ9L_0ZF29yV2Gdqa02E</string>
	<key>GCM_SENDER_ID</key>
	<string>1005144802323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spotCheck</string>
	<key>PROJECT_ID</key>
	<string>spot-check-388006</string>
	<key>STORAGE_BUCKET</key>
	<string>spot-check-388006.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005144802323:ios:cd1dcb1ed1069ec3b1abe6</string>
</dict>
</plist>